<div class="user_info">
  <div class="row">
    <div class="col-sm-5 col-xs-12">
      <%= image_tag @user.avatar.url(:medium), class: "img-rounded img-responsive" %>
    </div>
    <div class="col-sm-7 col-xs-12">
      <h1><%= @user.name %></h1>
      <p><%= @user.email %></p>
      <p><%= @user.birth_date.to_date.to_formatted_s(:long_ordinal) %></p>
      <p><%= @user.is_female ? "Male" : "Female" %></p>
      <p><%= @user.m1_stundent ? "M1 Student" : "M2 Student" %></p>
    </div>
  </div>
</div>

<hr>

<% if @posts.present? %>
  <%if @user == current_user %>
    <h2>My Demands (<%= @posts.count %>)</h2>
  <% else %>
    <h2><%= @user.name %>'s Posts (<%= @posts.count %>)</h2>
  <% end %>
  <%= render "posts/post" %>
<% else %>
  <div class="no_post"> NO Content ! </div>
<% end %>
