<div class="user_info">
  <div class="row">
    <div class="col-sm-5 col-xs-12">
      <%= image_tag @user.avatar.url(:medium), class: "img-rounded img-responsive" %>
    </div>
    <div class="col-sm-7 col-xs-12">
      <div class="user_info_card">
        <h1><%= @user.name %></h1>
        <p> <strong><i class="glyphicon glyphicon-envelope"></i> E-Mail:</strong> <%= @user.email %></p>
        <p><strong><i class="glyphicon glyphicon-calendar"></i> Birth Date:</strong> <%= @user.birth_date.to_date.to_formatted_s(:long_ordinal) if @user.birth_date %></p>
        <p> <strong>Gender:</strong> <%= @user.is_female ? "Male" : "Female" %></p>
        <p> <strong>Academic Year:</strong> <%= @user.m1_stundent ? "M1 Student" : "M2 Student" %></p>
        <p>
          <strong>Bio</strong> <br>
          Maecenas sed diam eget risus varius blandit sit amet non magna.
          Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
          Etiam porta sem malesuada magna mollis euismod.
        </p>
      </div>
    </div>
  </div>
</div>

<hr>

<% if @posts.present? %>
  <%if @user == current_user %>
    <h2>My Demands (<%= @posts.count %>)</h2>
  <% else %>
    <h2><%= @user.name %>'s Posts (<%= @posts.count %>)</h2>
  <% end %>
  <%= render "posts/post" %>
<% else %>
  <div class="no_post"> NO Content ! </div>
<% end %>
